<% @fave_trucks.each do |truck| %>
  <h2 class="title"><%= truck.name %></h2>
  <h4><%= truck.location.name %>, <%= truck.foodtype.name %></h4>
  <h5><%= @tweets[truck.name].first[:user][:description] %></h5><br><br>
  <% @tweets[truck.name][0..5].each do |tweet| %>
    <p><b>Tweet:</b> <%= tweet[:text] %> <b>Time:</b> <%= tweet[:created_at] %></p>
  <% end %><br><br>
<% end %>




